version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    volumes:
      - db_data:/var/lib/postgresql/data
  api:
    build: .
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:root@localhost:5432/postgres
    ports:
      - "8000:8000"
    depends_on:
      - db
volumes:
  db_data:
